<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="portfolio site for codebreakers" name="code breakers">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='icoico.ico') }}">

    <title>Sabir Bagwan</title>

    <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>

        {% include 'nav.html' %}
        <!-- {% block nav %} {% endblock %}  -->
    </header>
    <!-- Add your site or app content here -->
    <!-- <div class="hero-full-container background-image-container white-text-container"
        style="background-image: url('./static/assets/images/techno.jpg')"> -->
    <!-- Credit -->
    <!-- Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3389904">Gerd Altmann</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3389904">Pixabay</a> -->

    <!-- <div class="hero-full-container background-image-container white-text-container"></div> -->

    <br>
    <br>
    <br>
    <div class="container text-center">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-xs-12">
                <!-- <p>© 2022 Sabir Bagwan</p> -->
                <h2><br>
                    <!-- <span id="typed-strings"> -->
                    <span>
                        <span>Hello, I am Sabir.</span>
                        <br>
                        <span>I love to Code in Python!</span>
                        <!-- <span>Working as a Youtuber</span> -->
                    </span>
                    <!-- <span id="typed"></span> -->
                </h2>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-9 textabout">
                                    <h3>About me</h3>
                                    <p>I am Sabir Bagwan. Python is the language of my choosing. My interest lies in
                                        Data Science, Machine Learning, and Artificial Intelligence. I am a self-taught
                                        individual, still learning from the open-source community online. I love to
                                        automate stuff with Python.
                                    </p>
                                    <p>I have a YouTube channel in which I like to teach Python-related stuff to others
                                        as a way to give something back to the open-source community, I learned so much
                                        from. The link is above. Check it out!
                                    </p>
                                    <p>
                                        Any suggestions regarding any of the links and channel are welcome.
                                    </p>
                                    <p>
                                        You can reach out for any interesting work/research related to ML/DL/AI.
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-3 ">
                                    <!-- <div class="hero-full-container background-image-container white-text-container"
                                    style="background-image: url('./static/assets/images/Img.jpg')"> -->
                                    <div class="hero-full-container background-image-container"
                                        style="background-image: url('./static/assets/images/Img.jpg')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- 
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="container">
                                    <h3>Links</h3>
                                    <a href="https://www.youtube.com/channel/UC6LkbaDj388qSv3WAVhg_4A" title=""
                                        class="fa-icon">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a href="https://github.com/sabirbagwan" title="" class="fa-icon">
                                        <i class="fa fa-github"></i>
                                    </a>
                                    <a href="http://www.twitter.com/sabirbagwan_" title="" class="fa-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="http://www.linkedin.com/in/sabirbagwan" title="" class="fa-icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    {% include 'footer.html' %}
    <br>
</body>

</html>