{% block footer %}

<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Feel free to steal this website's <a href="https://github.com/sabirbagwan/MinimalisticPortfolioWebsite" target="_blank">source code</a>, just add a link back to my website. ;)</p>
            </div>
            <div class="col-xs-12">
                <p>© 2022 Sabir Bagwan</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}