{% block nav %}
<nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
                <li><a href="/" title="">Home</a></li>
                <li><a href="https://www.kaggle.com/sabirbagwan" target="_blank title="">Kaggle</a></li>
                <li><a href="https://medium.com/@sabirbagwan" target="_blank title="">Blogs(Medium)</a></li>
                <li><a href="https://www.linkedin.com/in/sabirbagwan/" target="_blank title="">LinkeIn</a></li>
                <li><a href="https://github.com/sabirbagwan" target="_blank title="">GitHub</a></li>
                <li><a href="https://twitter.com/sabirbagwan_" target="_blank title="">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UC6LkbaDj388qSv3WAVhg_4A" target="_blank title="">Youtube</a></li>
                <!-- <li><a href="./contact.html" title="">Contact me</a></li> -->

            </ul>

<!-- 
        </div>

        <a href="https://www.youtube.com/codebreakerstech">
            <img src="./static/assets/logo.png" target="_blank" width="400px" height="100px" style="margin-left: auto; margin-right: auto;"></a>

    </div> -->
</nav>

{% endblock %}